/*--- Aba Anuncios ---*/

.anuncios {
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anuncios img {
    height: 100%;
    width: 100%;
}


/*--- Aba conscientização ---*/

.concientizacao {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.config_link {
    text-decoration: none;
}

.opcaocons {
    width: 20vw;
    height: 180px;
    background-color: antiquewhite;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    transition: .4s;
}

.opcaocons:hover {
    box-shadow: 0 4px 8px gray;
}

.opcaocons:active {
    transform: translateY(1px);
}

.icon_cons {
    width: 85px;
}

#cssid_opc1 {
    background-color: #1503c7;
}

#cssid_opc2 {
    background-color: #00ad00;
}

#cssid_opc3 {
    background-color: #da2a2a;
}

.central_info {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.title_cons, .desc_cons {
    color: white;
    text-align: center;
}

.title_cons {
    font-weight: 1000;
    font-size: 24px;
    display: inline;
}

.desc_cons {
    font-weight: 500;
    font-size: 18px;
}

/*--- Aba Agenda Resumo ---*/

.agenda_resumo {
    height: 40vh;
    width: 100%;
    margin-top: 50px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.age_cal {
    background-color: #fafafa;
    width: 35%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.age_cal .head_resumo {
    width: 100%;
    background-color: #1503c7;
    height: 20%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.head_resumo .nome_resumo, #mes_resumo {
    color: #efefef;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

/*--- Calendário ---*/

#dias_semana {
    text-align: center;
    background-color: lightgray;
    color: #171717
}

.final_semana_head {
    color: #da2a2a;
}

#dias_resumo {
    height: 100%;
    width: 100%;
}

#dias_resumo tr td {
    color: #000;
    background-color: #fafafa;
    width: 8%;
    height: 10%;
    padding: 2.5% 5%;
    text-align: start;
    font-size: 22px;
}

.dia_esquerdo {
    border-bottom-left-radius: 20px;
}

.dia_direito {
    border-bottom-right-radius: 20px;
}

/*--- Agenda ---*/

.agendamento {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
}

.agendamento>li {
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.data_agenda * {
    margin: 0;
    padding: 0;
}

.data_agenda {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #250ef3;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 50%;
    gap: 5px;
    line-height: 0.9;
}

.dia_agenda {
    font-weight: 700;
    font-size: 24px;
    display: inline;
    max-height: fit-content;
}

.mes_agenda {
    font-weight: 600;
    font-size: 18px;
    display: inline;
    max-height: fit-content;
}

.detalhes_agenda_resumo * {
    margin: 0;
    padding: 0;
}

.detalhes_agenda_resumo {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    width: 65%;
    justify-content: center;
}