/*--- Aba Anuncios ---*/

.anuncios {
    width: 100%;
    height: 350px;
    background-color: aqua;
}


/*--- Aba conscientização ---*/

.concientizacao {
    width: 100%;
    height: 200px;
    background-color: gainsboro;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.config_link {
    text-decoration: none;
}

.opcaocons {
    width: 20vw;
    height: 180px;
    background-color: antiquewhite;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    transition: .4s;
}

.icon_cons {
    width: 85px;
}

#cssid_opc1 {
    background-color: #1503c7;
}

#cssid_opc2 {
    background-color: #00ad00;
}

#cssid_opc3 {
    background-color: #da2a2a;
}

.central_info {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.title_cons, .desc_cons {
    color: white;
    text-align: center;
}

.title_cons {
    font-weight: 1000;
    font-size: 24px;
    display: inline;
}

.desc_cons {
    font-weight: 500;
    font-size: 18px;
}