* {
    margin: 0;
    padding: 0;
}

header {
    height: 8vh;
    width: 100%;
    background-color: #130598;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicial img{
    margin-left: 5px;
}